.message {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
}

.message__noMessage h3 {
  text-align: left;
}

.message__noMessage img {
  width: 100%;
  margin-top: 50px;
}

.message__noMessage button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 auto;
  border: 2px solid transparent;
}

.message__searchPal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.message__searchPalOnline {
  position: absolute;
  padding: 4px;
  background: #0bed0b;
  border-radius: 100%;
  top: 6px;
  left: 14px;
}

.message__searchPal > div {
  display: flex;
  width: 90%;
  align-items: center;
}

.message__searchPal > div > div {
  width: 90%;
  display: grid;
  align-items: center;
}

.message__searchContainer {
  display: flex;
}

.message__searchContainer .noButton__search {
  height: 40px;
}

.message__searchContainer span > svg {
  font-size: 32px;
}

.message__searchPalInfo > span:nth-child(1) {
  display: block;
  font-weight: 550;
  font-size: 16px;
}

.message__searchPalInfo > span:nth-child(2) {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  display: block;
  color: var(--p-color3);
  width: calc(100% - 30px);
  max-width: 300px;  
}

.message__searchPalImage {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 100%;
  flex-shrink: 0;
}

.rightSide .message__searchContainer .noButton__search {
  background-color: white;
  border: 1px solid var(--p-color7);
}

.rightSide .message__searchPalOnline {
  top: 1px;
  left: 2px;
}